@use '../abstracts/breakpoints' as brk;

.container {
  max-width: 30rem;
  padding-inline: 1.65em;
  margin-inline: auto;
  
  @include brk.minWidth(small) {
    max-width: 76.875rem; // 1230px
    
    p {
      max-width: 60ch;
    }
  }
  
  h1, h2, h3,
  p {
    text-align: center;
    margin-inline: auto;
  }
  
  h1, h2, h3 {
    font-weight: var(--fw-semi-bold);
    line-height: 1.2;
    color: var(--clr-neutral-700);
    margin-bottom: var(--spacing-200);
  }
  
  p {
    line-height: 1.7;
    margin-bottom: var(--spacing-400);
  }
}
