@use '../abstracts/breakpoints' as brk;

.devices {
  margin-bottom: var(--spacing-600);
  
  &__cover-img {
    margin-inline: auto;
  }
  
  .container > p {
    @include brk.minWidth(small) {
      margin-bottom: var(--spacing-600);
    }
  }
}