@use '../abstracts/breakpoints' as brk;

.footer {
  text-align: center;
  padding-top: 3em;
  
  a {
    color: var(--clr-neutral-700);
    text-decoration: none;
    
    &:hover {
      color: var(--clr-primary-400);
    }
    
    &:focus-visible {
      outline: 1px dotted currentColor;
      outline-offset: 0.25em;
    }
    
    &:active,
    &:visited {
      color: var(--clr-secondary-400);
    }
  }
  
  &__extras {
    margin-bottom: var(--spacing-350);
    justify-items: center;
    align-items: center;
    gap: var(--spacing-350);
    
    @include brk.minWidth(small) {
      grid-template-columns: 1fr 3fr 1fr;
    }
  }
  &__logo {
    
    img {
      width: 3.25rem;
      object-fit: contain;
      margin-inline: auto;
    }
  }
  
  &__site-maps {
    grid-row-gap: var(--spacing-300);
    
    @include brk.minWidth(small) {
      justify-self: start;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: var(--spacing-400);
      text-align: left;
    }
  }
}