.footer {
  text-align: center;
  padding-top: 3em;
  
  a {
    color: var(--clr-neutral-700);
    text-decoration: none;
    
    &:hover {
      color: var(--clr-primary-400);
    }
    
    &:focus-visible {
      outline: 1px dotted currentColor;
      outline-offset: 0.25em;
    }
    
    &:active,
    &:visited {
      color: var(--clr-secondary-400);
    }
  }
  
  &__logo {
    width: 3.25rem;
    object-fit: contain;
    margin-inline: auto;
    margin-bottom: var(--spacing-350);
  }
  
  &__site-maps {
    gap: var(--spacing-300);
    margin-bottom: var(--spacing-350);
  }
  
  .social-icons {
    margin-bottom: var(--spacing-350);
  }
}