.header {
  --logo-width: 7.5rem;
  background-image:
    linear-gradient(180deg, hsla(0, 0%, 100%, 0.0), hsla(0, 0%, 100%, 1)),
    url('/images/backgrounds/bg-header-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  padding-block: 7.5em 0;
  margin-bottom: var(--spacing-900);
  
  &__logo {
    margin-inline: auto;
    max-width: var(--logo-width);
    aspect-ratio: 1/1;
    object-fit: contain;
    margin-bottom: var(--spacing-600);
  }
}