@use '../abstracts/breakpoints' as brk;

.header {
  --logo-width: 7.5rem;
  --bg-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.0), hsla(0, 0%, 100%, 1));
  --bg-img: url('/images/backgrounds/bg-header-mobile.png');
  padding-block: 7.5em 0;
  background-image: var(--bg-gradient), var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: var(--spacing-900);
  
  @include brk.minWidth(small) {
    --bg-img: url('/images/backgrounds/bg-header-desktop.png');
    --spacing-900: 9.85rem;
  }
  
  &__logo {
    margin-inline: auto;
    max-width: var(--logo-width);
    aspect-ratio: 1/1;
    object-fit: contain;
    margin-bottom: var(--spacing-600);
  }
}