@use '../abstracts/breakpoints' as brk;

.workflow {
  margin-bottom: var(--spacing-600);
  
  &__header {
    margin-bottom: var(--spacing-600);
  }
  
  &__list {
    
    @include brk.minWidth(small) {
      grid-column-gap: var(--spacing-350);
    }
  }
  
  &__list-icon {
    width: 2.5rem;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin-bottom: var(--spacing-350);
    margin-inline: auto;
  }
}