.clr {
  
  &--primary-400 {color: var(--clr-primary-400);}
  &--secondary-400 {color: var(--clr-secondary-400);}
  &--neutral-700 {color: var(--clr-neutral-700);}
  &--neutral-400 {color: var(--clr-neutral-400);}
}