:root {
  --clr-primary-400: hsl(171, 66%, 44%);
  
  --clr-secondary-400: hsl(233, 100%, 69%);
  
  --clr-neutral-700: hsl(210, 10%, 33%);
  --clr-neutral-400: hsl(201, 11%, 66%);
  
  --ff-primary: 'Bai Jamjuree', sans-serif;
  
  --fw-semi-bold: 600;
  --fw-regular: 400;
}