:root {
  --clr-primary-400: hsl(171, 66%, 44%);
  
  --clr-secondary-400: hsl(233, 100%, 69%);
  
  --clr-neutral-700: hsl(210, 10%, 33%);
  --clr-neutral-400: hsl(201, 11%, 66%);
  --clr-neutral-100: hsl(0, 100%, 100%);
  
  --ff-primary: 'Bai Jamjuree', sans-serif;
  
  --fw-semi-bold: 600;
  --fw-regular: 400;
  
  --fs-900: 1.75rem;
  --fs-800: 1.6rem;
  
  /* Layout */
  --size-rem-200: 0.5rem;
  --size-rem-400: 1rem;
  --size-rem-500: 1.5rem;
  --size-rem-600: 2rem;
  --size-rem-700: 2.5rem;
  --size-rem-800: 3rem;
  --size-rem-900: 5rem;
}